

<div class="row">
    <div class="col-md-10 offset-md-1">
    <div class="card">
      <div class="card-header border-transparent" style="background-color: #7cb4be">
        <h3 class="card-title">  <b>Collaborating Members management</b></h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0" style="padding: 15px!important">

        <div class="tab-pane" id="timeline">
                <!-- editor users list -->
                <ul class="timeline timeline-inverse">
                 <br>
                      <!-- item label -->
                      <li class="time-label">
                        <span class="bg-info">
                          Reviewers
                        </span>
                      </li>
                      <% _.each(editorUsers, function(user) { %>
                      <!-- user item -->
                      <li>
                        <i class="fa far fa-user-circle bg-info"></i>
                        <div class="timeline-item" >
                            <button href="#" data-toggle="dropdown" class="time badge badge-warning" style="background:#ff6007; margin-top: 6px; color: black">
                              <i class="fa fa-language" aria-hidden="true"></i> PerLang 
                            </button>
                              <%- include perLangBlock %>
                            
                            <button class="time badge badge-danger" style="margin-top: 6px;color: darkblue" onclick="blockUser('<%= session.User.userOrganisation.id %>', '<%= user.id %>' )">
                              <i class="fa fa-hand-paper-o" aria-hidden="true"></i> block 
                            </button>       
                            <h3 class="timeline-header no-border">
                                <a href="#" data-toggle="dropdown">  <%= User.fullName( user ) %> </a> is registered with <b> <%= user.userOrganisation.name %> </b>
                                <%- include userInfo %>
                                
                              <div class="input-group-prepend" style="display: inline-flex;">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background:#e5f2ff">
                                    Modify Role 
                                  </button>
                                  <div class="dropdown-menu">
                                      <button class="btn dropdown-item" onclick="updateRole('<%= session.User.userOrganisation.id %>', '<%= user.id %>', 'editor' )"> Reviewer </button>
                                      <button class="btn dropdown-item" onclick="updateRole('<%= session.User.userOrganisation.id %>', '<%= user.id %>', 'reviewer' )"> Evaluator</button>
                                  </div>
                                </div>
                              </h3>
                        </div>
                      </li>
                      <% }) %>
                      <!-- / user item -->
                 </ul>
         </div>
      </div>

      <div class="card-body p-0" style="padding: 15px!important">
            <div class="tab-pane" id="timeline">
                      <!-- reviewer users list -->
                      <ul class="timeline timeline-inverse" id="accordion">
                     <br>
                            <!-- item label -->
                            <li class="time-label">
                            <span class="bg-primary">
                              Evaluators
                            </span>
                          </li>
                          <% _.each(reviewerUsers, function(user) { %>
                            <!-- user item -->
                            <li>
                              <i class="fa fas fa-user-graduate bg-primary"></i>
                              <div class="timeline-item" >
                                <button href="#" data-toggle="dropdown" class="time badge badge-warning" style="background:#ff6007; margin-top: 6px; color: black">
                                   <i class="fa fa-language" aria-hidden="true"></i> PerLang 
                                  </button>
                                   <%- include perLangBlock %>

                                  <button class="time badge badge-danger" style="margin-top: 6px;color: darkblue" onclick="blockUser('<%= session.User.userOrganisation.id %>', '<%= user.id %>' )">
                                    <i class="fa fa-hand-paper-o" aria-hidden="true"></i> block 
                                  </button>
                                  <h3 class="timeline-header no-border">
                                    <a href="#" data-toggle="dropdown">  <%= User.fullName( user ) %> </a> is registered with <b> <%= user.userOrganisation.name %> </b>
                                    <%- include userInfo %>

                                    <div class="input-group-prepend" style="display: inline-flex;">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background:#e5f2ff">
                                          Modify Role
                                        </button>
                                        <div class="dropdown-menu">
                                          <button class="btn dropdown-item" onclick="updateRole('<%= session.User.userOrganisation.id %>', '<%= user.id %>', 'editor' )"> Reviewer</button>
                                          <button class="btn dropdown-item" onclick="updateRole('<%= session.User.userOrganisation.id %>', '<%= user.id %>', 'reviewer' )"> Evaluator</button>
                                        </div>
                                      </div>
                                    </h3>
                              </div>
                            </li>
                            <% }) %>
                        <!-- / user item -->
                     </ul>
             </div>
          </div>

        <div class="card-body p-0" style="padding: 15px!important">
              <div class="tab-pane" id="timeline">
                      <!-- blocked users list -->
                   <ul class="timeline timeline-inverse" id="accordion">
                       <br>
                            <!-- item label -->
                            <li class="time-label">
                              <span class="bg-danger">
                              Blocked
                              </span>
                            </li>
                            <% _.each(blockedUsers, function(user) { %>
                              <!-- user item -->
                              <li>
                                <i class="fa fas fa-ban" style="background: #dc3545"></i>
                                <div class="timeline-item" >
                                    <button class="time badge badge-info" style="color:blue" onclick="unblockUser('<%= session.User.userOrganisation.id %>', '<%= user.id %>' )">
                                      <i class="fa fa-thumbs-up" aria-hidden="true"></i> unblock 
                                    </button>
                                  <h3 class="timeline-header no-border"><a href="/user/edit?id=<%= user.id %>">  <%= User.fullName( user ) %> </a> has been assigned : X tasks
                                  </h3>
                                </div>
                              </li>
                              <% }) %>
                          <!--/ user item -->
                       </ul>
               </div>
            </div>
    </div>
  </div>
</div>

<% if(sails.config.custom.confLevel=="YES") { %>
<br>
<a id='confidenceLevels' class="col-md-10 offset-md-1 btn btn-warning" href="/user/confidence-level?id=<%= session.User.userOrganisation.id %>" style="font-weight:bolder;display:initial"> 
  <i class="fa fas fa-sort-amount-up"></i>  Manage Users Confidence-Level  <i class="fa fas fa-sort-amount-down"></i>  </a> 
<% } %>
<br><br>

<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card">
      <div class="card-header border-transparent" style="background-color: #25bf28a1">
        <h3 class="card-title"><b>List of currently assigned jobs
          <i class="fa fa-lock" style='vertical-align: middle !important; font-size: 28px; color:#6d9026' href='#'>  </i> </b> from your organization </h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table w-auto" data-toggle="table" data-pagination="true" data-page-size="10" data-page-list="[2,10,25,50]"
                data-filter-control="true" data-filter-show-clear="false">
            <thead>
            <tr>
              <th> ID </th>
              <th class="w-10"> Action</th>
              <th class="w-9"> Lang from/to</th>
              <th class="w-10"> Duration</th>
              <th class="w-10"> Progress%</th>
              <th class="w-20" data-field="date"> Airing Date/<br> Expiration Date</th>
              <th data-field="title" data-sortable="true" data-filter-control="input" class="w-40"> Original Title</th>
            </tr>
            </thead>
            <tbody>
                <% _.each(assignedJobs, function(job) { %>
                  <tr data-id="<%= job.id %>" data-model="job">
                    <td> <%= job.job_id %> </td>
                    <td class="w-10">
                      <div class="row centerAction">
                         <i id='taskIcon<%= job.job_id %>' class="btn btn-warning bg-warning fa fa-unlock-alt" style='vertical-align: middle !important; font-size: 18px' 
                            href='#' onclick="withdrawJob('<%= JSON.stringify(job.clJob) %>', '<%= job.worker %>' )" > 
                        </i> 
                        <i id='infoIcon<%= job.job_id %>' class="btn bg-info fa fa-history" style='vertical-align: middle !important; font-size: 18px' 
                            href='#' data-toggle="modal" data-target="#modal-lg<%= job.job_id %>"> </i> 
                            <%- include progressCard %>
                      </div>
                    </td>
                    <td class="w-9">
                       <b><%= job.language_source %> </b> / <b > <%= job.language_target %> </b>
                    </td>
                    <td class="w-10">
                      <span class="badge badge-success" >
                          <%= job.asset_duration %>
                      </span> 
                    </td>
                    <td>      
                      <div class="progress-group">
                        <% if (["OnEdition","AwaitingForEdition", "OnEditionSaved"].indexOf(job.status)>-1) { %> 
                          <b><%= job.validated_percent_editor %></b>%
                          <div class="progress progress-sm">
                            <div class="progress-bar bg-info" style="width: <%= job.validated_percent_editor %>%"></div>
                          </div>
                          <% } else { %>
                            <b><%= job.validated_percent_reviewer %></b>% 
                            <div class="progress progress-sm">
                              <div class="progress-bar bg-info" style="width: <%= job.validated_percent_reviewer %>%"></div>
                            </div>
                            <% } %>
                        </div>
                      </td>                            
                      <td>  
                        <b> <span style="font-size:12.5px;font-weight: 700"> <%= UtilService.to_hhmmss_ddmmyyyy(job.publication_date*1000) %> </span> </b> / <br>
                            <span style="font-size:12px"> <%= UtilService.to_hhmmss_ddmmyyyy(job.expiration_date*1000) %> </span> 
                      </td>
                    <td class="w-40"> 
                       <%= job.asset_name.replace("'", "") %> 
                    </td>
                  </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<% block('localScripts', '<script src="/js/fontawesomeV5.js"></script>') %>