
<div class="content-wrapper">

    <section class="content-header">
        <h1> Subtitles </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li class="breadcrumb-item"> Translation Jobs </li>
        </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <table  class="table table-hover display" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="[5,10,20,30]" 
              data-pagination-first-text="First" data-pagination-pre-text="Previous" data-pagination-next-text="Next" data-pagination-last-text="Last" style="width:100%">
            <thead>
              <tr>
                <th> JobID </th>
                <th> Action </th>
                <th> Language_From </th>
                <th> Content_Owner </th>
                <th> Published At</th>
                <th> Expires At</th>
              </tr>
            </thead>
            <tbody>
              <% _.each(subz, function(sub) { %>
                <tr data-id="<%= sub.id %>" data-model="sub">
                  <td><%= sub.job_id %></td>
                  <td><%= sub.action %></td>
                  <td><%= sub.language_source %></td>
                  <td><%= sub.content_owner %></td>
                  <td><%= UtilService.fromNow(sub.publication_date*1000) %></td>
                  <td><%= UtilService.fromNow(sub.expiration_date*1000) %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </section>

</div>
