
<div class="content-wrapper">

    <section class="content-header">
        <h1> <%= __('nav_bar.logs') %> </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li class="breadcrumb-item"><%= __('nav_bar.logs') %> </li>
        </ol>
    </section>


    <section class="content">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <table  class="table table-hover display" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="[5,10,20,30]" 
              data-pagination-first-text="First" data-pagination-pre-text="Previous" data-pagination-next-text="Next" data-pagination-last-text="Last" style="width:100%">
            <thead>
              <tr>
                <th> <%= __('log.index.user') %> </th>
                <th> <%= __('log.index.ip') %> </th>
                <th> <%= __('log.index.action') %> </th>
                <th> <%= __('log.index.msg') %> </th>
                <th> <%= __('log.index.created@') %> </th>
                <th> <%= __('log.index.updated@') %> </th>
              </tr>
            </thead>
            <tbody>
              <% _.each(logs, function(log) { %>
                <tr data-id="<%= log.id %>" data-model="log">
                  <td><% if(log.user) { %> <a href='/user/show/<%=log.user.id %>'> <%= log.user.email %></a> <% } %></td>
                  <td><%= log.ip %></td>
                  <td><%= log.greeting %></td>
                  <td><%= log.demoString %></td>
                  <td><%= UtilService.fromNow(log.createdAt) %></td>
                  <td><%= UtilService.fromNow( log.updatedAt) %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
</div>
