
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> Revise Users Confidence</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- /.row -->
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                  <div class="card-header border-transparent" style="background-color: #7cb4be">
                    <h3 class="card-title">  Previously Collaborating Members <b>on this job</b></h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0" style="padding: 15px!important">
            
                    <div class="tab-pane" id="timeline">
                        <!-- editor users list -->
                        <ul class="timeline timeline-inverse">
                            <br>
                            <!-- item label -->
                            <li class="time-label">
                                 <span class="bg-info">
                                    Reviewers
                                </span>
                            </li>
                                <% _.each(prevUsers, function(user) { %>
                                    <% if(user) {  %>
                                   <!-- user item -->
                                        <li>  
                                            <div class="timeline-item" >
                                                <h3 class="timeline-header no-border">
                                                    <a href="#" data-toggle="dropdown">  <%= User.fullName( user ) %> </a>  
                                                    <%- include userInfo %>
                                                 <br> has a confidence-level of <b> <%= levels[user.lang_source_lvl-1].description %> </b> in the <strong> <%= langs[langsISO.indexOf(lang_source)] %> language </strong>
                                                  <div class="input-group-prepend" style="display: inline-flex;">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        Modify Confidence
                                                    </button>
                                                    <div class="dropdown-menu">
                                                      <button class="btn dropdown-item" onclick="updateConfidence('<%= session.User.userOrganisation.id %>',
                                                        '<%= user.id %>', '<%= lang_source %>', '1', '<%= job_id %>' )"> Junior </button>
                                                      <button class="btn dropdown-item" onclick="updateConfidence('<%= session.User.userOrganisation.id %>', 
                                                        '<%= user.id %>', '<%= lang_source %>', '2', '<%= job_id %>' )"> Intermediate</button>
                                                      <button class="btn dropdown-item" onclick="updateConfidence('<%= session.User.userOrganisation.id %>', 
                                                        '<%= user.id %>', '<%= lang_source %>', '3', '<%= job_id %>' )"> Proficiency</button>
                                                      <button class="btn dropdown-item" onclick="updateConfidence('<%= session.User.userOrganisation.id %>', 
                                                        '<%= user.id %>', '<%= lang_source %>', '4', '<%= job_id %>' )"> <div style="color:red;font-weight:500"> Block</div></button>
                                                    </div>
                                                  </div>
                                                  <br> has a confidence-level of <b> <%= levels[user.lang_target_lvl-1].description %> </b> in the <strong> <%= langs[langsISO.indexOf(lang_target)] %> language </strong>
                                                  <div class="input-group-prepend" style="display: inline-flex;">
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                            Modify Confidence
                                                        </button>
                                                        <div class="dropdown-menu">
                                                          <button class="btn dropdown-item" onclick="updateConfidence('<%= session.User.userOrganisation.id %>',
                                                            '<%= user.id %>', '<%= lang_target %>', '1', '<%= job_id %>' )"> Junior </button>
                                                          <button class="btn dropdown-item" onclick="updateConfidence('<%= session.User.userOrganisation.id %>', 
                                                            '<%= user.id %>', '<%= lang_target %>', '2', '<%= job_id %>' )"> Intermediate</button>
                                                          <button class="btn dropdown-item" onclick="updateConfidence('<%= session.User.userOrganisation.id %>', 
                                                            '<%= user.id %>', '<%= lang_target %>', '3', '<%= job_id %>' )"> Proficiency</button>
                                                          <button class="btn dropdown-item" onclick="updateConfidence('<%= session.User.userOrganisation.id %>', 
                                                            '<%= user.id %>', '<%= lang_target %>', '4', '<%= job_id %>' )"> <div style="color:red;font-weight:500"> Block</div></button>
                                                        </div>
                                                    </div>
                                                </h3>
                                            </div>
                                        </li>
                                     <% } %>
                                <% }) %>
                               <!-- / user item -->
                        </ul>
                     </div>
                  </div>
                </div>
            </div>
        </div>

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<script>
    // user role-modification
    function updateRole(orgid, userid, newRole) {
         bootbox.confirm({
           title: "User role modification",
           message: "You are going to assign this user a new role, are you sure?",
           buttons: {
             confirm: { label: "<%= __('organisation.show.yestag') %>", className: 'btn-success' },
             cancel: { label: "<%= __('organisation.show.canceltag') %>" }
           },
           callback: function(result) {
             if (result) {
               data = { id: orgid, user: userid, role: newRole  };
               $.post("/user/role", data, function(status) {
                 console.log(status);
                 location.reload();
               });
             }
           }
         });
       }

    // user role-modification
    function updateConfidence(orgid, userid, lang, level, job_id) {
         bootbox.confirm({
           title: "User role modification",
           message: "You are going to modify the confidence of this user on a certain language, are you sure?",
           buttons: {
             confirm: { label: "<%= __('organisation.show.yestag') %>", className: 'btn-success' },
             cancel: { label: "<%= __('organisation.show.canceltag') %>" }
           },
           callback: function(result) {
             if (result) {
               data = { id: orgid, user_id: userid, lang: lang, level:level , job_id: job_id };
               $.post("/user/confidence-update", data, function(status) {
                 console.log(status);
                 location.reload();
               });
             }
           }
         });
       }
</script>

<!-- sweetalert modals -->
<% block('localScripts', '<link href="/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" type="text/css">') %>
<% block('localScripts', '<script src="/plugins/sweetalert/sweetalert2.min.js"></script>') %>

<!-- load extra .js plugins only for this view -->
<% block('localScripts', '<script src="/plugins/bootstrap-table-filter-control.min.js"></script>') %>
<% block('localScripts', '<script src="/plugins/bootbox.min.js"></script>') %>
