<script type="text/javascript">  
</script>
    
<div class="content-wrapper">
        <section class="content-header">
            <h1> Sign Language Multilingual Database </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i>Home</a></li>
                <li class="breadcrumb-item active"> index </li>
            </ol>
        </section>
    
        <section class="content">
                <section class="main-content" style="border-style: groove; background: #f0f5ff;">
                  <h4> Choose what to do </a> </h4> 
                  No existing <b><%= requestedLang %> translation</b> was retrieved for concept <b> << <%= videoRequest.sle %> >></b>
                  
                        <br><br>
                        <a href="/video-annotation/new-translation?id=<%= videoRequest.id %>&targetLang=<%- targetLang %>" class="btn centerButton post-button" 
                          style="color:midnightblue; border-color: blue; background: #00a6c2cf; font-weight: 500; width: 40%;margin-left: auto;"> 
                            Suggest a translation
                        </a> 

                        <form action="/video-annotation/create-pending" method="get">
                            <input type="hidden" name="sle" value="<%- videoRequest.sle %>" >
                            <input type="hidden" name="wle" value="<%- videoRequest.wle %>" >

                            <button type="submit" name="lang" value="<%- targetLang %>" class="btn centerButton post-button" 
                            style="color:midnightblue; border-color: blue; background: #00a6c2cf; font-weight: 500;  width: 40%;margin-left: auto;"> 
                              Make pending request
                            </button>
                        </form>

                        <br>
        </section>
</div>
  
  <!-- load extra .css assets only for this view-app -->
  <% block('localScripts', '<link href="/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" type="text/css">') %>
  <% block('localScripts', '<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">') %>
  <% block('localScripts', '<link href="/plugins/video-annotation-app/style.css" rel="stylesheet" type="text/css">') %>
  <% block('localScripts', '<link href="https://vjs.zencdn.net/6.2.0/video-js.min.css" rel="stylesheet" type="text/css">') %>
  <% block('localScripts', '<link href="/plugins/video-annotation-app/assets/videojs_skin.css" rel="stylesheet" type="text/css">') %>
  <% block('localScripts', '<link href="/plugins/video-annotation-app/build/css/annotations.css" rel="stylesheet" type="text/css">') %>
  
  <!-- load extra .js assets only for this view-app -->
  <% block('localScripts', '<script src="/plugins/sweetalert/sweetalert2.min.js"></script>') %>

  